body{
    margin: 3%;
}
h2{
    color:#3c5a9c;
}

.btn-primary{
    background-color: #3c5a9c;
    min-width: 100px;
}
.card{
    margin: 3%;
   max-width: 700px;
    max-height: 400px;
    text-align: center;
    border:none;
}
.btn-outline-light{
    min-width: 200px;
    min-height: 80px;
    background-color: rgb(251, 251, 251);
    color:  #3c5a9c;
    outline-color: #3c5a9c;
   text-orientation: upright;
}
.btn-outline-primary :active:hover{
    background-color:#3c5a9c ;

}
nav{
    background-color: #3c5a9c;
    height: 50px;
    color: white;
    }
    ul#ul-pincipal{
        width: 90%;
        margin: auto;
    }
    .li-p{
        line-height: 50px;
        float: left;
    }
    ul li ul li{
        background-color: #3c5a9c;
    }
    a{
        text-decoration: none;
        color:black;
        padding: 0px 20px;
    }

    a:hover{
        text-decoration: none;
        background-color: lightgrey;
    }


